table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
}  
.ticket{
  margin-top: 30px;
  width: 550px;
}
.open{
  margin-top: -100px;
  margin-left: 370px;
  width: 550px;  
}
.close{
  margin-top: -100px;
  margin-left: 700px;
  width: 550px;
  
  
}